body{
    margin: 0;
}
.pepper{
    width: 100%;
    background-color: red;
    padding: 0px;
    height: 300px;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.pepper p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-top: auto;
    margin-bottom: 0px;
    line-height: 0.8;
    padding-left: 30px;
    font-size: 175px;
}